main {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    

    border: 2px solid black;
    width: 400px;
    height: 500px;
}

.tasks-container {
    border: 2px solid black;
    width: 70%;
    height: 80%;
}

#create-new-task-btn {
    margin-top: 10px;
    width: 160px;
    height: 40px;
    font-size: 18px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    margin-top: 25px;

    border: 2px solid black;
    width: 350px;
    height: 320px;
}

.form-footer {
    margin-left: auto;
    margin-right: auto;
}

#add-or-update-btn {
    width: 80px;
    height: 30px;
    font-size: 14px;
}

#quit-form-btn {
    border: none;
    background-color: white;
    color: red;
    font-size: 20px;
}

button {
    cursor: pointer;
}


.hidden {
    display: none;
}

input {
    width: 250px;
}

.input-field {
    margin-left: 20px;
}


label {
    display: block;
    margin-bottom: 5px;;
}

textarea {
    width: 250px;
    height: 75px;
}